<header class="app-header">
    <a href="{{ path('home') }}" class="app-brandname">
        <img src="{{ asset('img/logo.png') }}" alt="{{ appConfig.getAppName() }}" />
        {{ appConfig.getAppName() }}
    </a>

    <nav class="app-navigation">
        <ul>
            <li>
                <a href="{{ path('home') }}" title="Retour à l'accueil">Accueil</a>
            </li>
            <li>
                <a href="{{ path('contact') }}" title="Contactez-nous">Contact</a>
            </li>
        </ul>
    </nav>
</header>